{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #appbundle_recipe_ingredient5 {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="text-center pb-4">Créer votre recette</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.subTitle) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.ingredient1)}}
        </div>
        <div class="col-md-3">
            {{ form_row(form.ingredient2)}}
        </div>
        <div class="col-md-3">
            {{ form_row(form.ingredient3)}}
        </div>
        <div class="col-md-3">
            {{ form_row(form.ingredient4)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.ingredient5)}}
            <div class="form-group">
                <button type="button" id="add-ingredient" class="btn btn-primary">Ajouter un ingredient</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.picture)}}
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Enregistrer la recette" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}

    <a href="{{path('homepage')}}" class="btn btn-primary">Retourner a la liste des recettes</a>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-ingredient').click(function () {
            $('#appbundle_recipe_ingredient5').css('display', 'block');
            $('#add-ingredient').css("display", "none");
        });
    </script>
{% endblock %}
